img {
    vertical-align: middle;
    display: block;
}

#results img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.instructions .question {
    color: #0e0c9b;
    font-family: 'Gloria Hallelujah', cursive;
}

.instructions code {
    font-family: 'Cutive Mono', monospace;
    background: #232323;
    color: white;
}
